.agency-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pending-trip-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pending-trip-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  max-width: 300px;
  overflow: hidden;
}

.pending-trip-card h3,
.pending-trip-card p {
  margin: 8px 0;
}
